<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni-weworkflow</string>
	<key>category</key>
	<string>myWorkflows</string>
	<key>connections</key>
	<dict>
		<key>941C7010-C5D0-4F7B-9EE2-F407E119E895</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>51E49C14-38A3-4D45-98A4-B71DB1D003A4</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>open workflow folder in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A1A754C5-32B9-46FB-AE3A-B771119F1E8A</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>reveal workflow folder in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A5963A6B-E2C2-4988-8851-668E29DCB175</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>show workflow Info</string>
				<key>vitoclose</key>
				<true/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E3854BD0-40B4-4E62-9AA2-A4EEE852DA94</string>
				<key>modifiers</key>
				<integer>8388608</integer>
				<key>modifiersubtext</key>
				<string>launch workflow with fist keyword</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2240CA4C-E605-4C31-88C1-70F81076342D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A0357D6A-83E3-420F-AA87-0A29BD8C7CB0</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>open workflow config</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>98CF41B7-8DA0-4B2E-A3CF-FA9B13666F2D</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>open cache folder in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61643684-A2BA-449B-AFC4-3751DEE34867</string>
				<key>modifiers</key>
				<integer>655360</integer>
				<key>modifiersubtext</key>
				<string>open workflow cache folder in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>25B247AD-0B7D-4B25-A4F5-3367B37F7142</string>
				<key>modifiers</key>
				<integer>917504</integer>
				<key>modifiersubtext</key>
				<string>open data folder in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCC1CDE2-B70D-4560-8EE2-7410E9DCD989</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>941C7010-C5D0-4F7B-9EE2-F407E119E895</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>An Alfred workflow to access and manage other workflows' info</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>WeWorkflow</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># terminal script from http://www.ienno.de
on run argv
  set myPath to quoted form of (system attribute "myPath")


 
  tell application "System Events"
    if not (exists (processes where name is "Terminal")) then
      do shell script "open -a Terminal " &amp; myPath
    else
      tell application "Terminal"
        activate
        if (count of windows) is 0 then
          do script ("cd " &amp; myPath)
        else
          tell application "System Events" to tell process "Terminal.app" to keystroke "t" using command down
          delay 1
          do script ("cd " &amp; myPath) in first window
        end if
      end tell
    end if
  end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>51E49C14-38A3-4D45-98A4-B71DB1D003A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>A1A754C5-32B9-46FB-AE3A-B771119F1E8A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alignment</key>
				<integer>0</integer>
				<key>backgroundcolor</key>
				<string></string>
				<key>fadespeed</key>
				<integer>0</integer>
				<key>fillmode</key>
				<integer>0</integer>
				<key>font</key>
				<string>Monaco</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>largetypetext</key>
				<string>{var:mySummary}</string>
				<key>textcolor</key>
				<string>#00F900FF</string>
				<key>wrapat</key>
				<integer>30</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.largetype</string>
			<key>uid</key>
			<string>A5963A6B-E2C2-4988-8851-668E29DCB175</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

set myFirstKey to system attribute "myFirstKey"
tell application id "com.runningwithcrayons.Alfred" to search myFirstKey


end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E3854BD0-40B4-4E62-9AA2-A4EEE852DA94</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>12</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>Q</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>FCC1CDE2-B70D-4560-8EE2-7410E9DCD989</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:mainkeyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>found an updated workflow...⏳...rebuilding the database</string>
				<key>script</key>
				<string>export PATH=/opt/homebrew/bin:/usr/local/bin:$PATH
python3 WeWorkflow.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Access your Alfred workflows</string>
				<key>title</key>
				<string>WeWorkflow</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>941C7010-C5D0-4F7B-9EE2-F407E119E895</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
				<key>sortBy</key>
				<integer>0</integer>
				<key>sortDirection</key>
				<integer>0</integer>
				<key>sortFoldersAtTop</key>
				<false/>
				<key>sortOverride</key>
				<false/>
				<key>stackBrowserView</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>2240CA4C-E605-4C31-88C1-70F81076342D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run argv

set myWorkflow to system attribute "myBundleID"
tell application id "com.runningwithcrayons.Alfred" to reveal workflow myWorkflow

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0357D6A-83E3-420F-AA87-0A29BD8C7CB0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string># terminal script from http://www.ienno.de
on run argv
  set myPath to quoted form of (system attribute "myCachePath")


 
  tell application "System Events"
    if not (exists (processes where name is "Terminal")) then
      do shell script "open -a Terminal " &amp; myPath
    else
      tell application "Terminal"
        activate
        if (count of windows) is 0 then
          do script ("cd " &amp; myPath)
        else
          tell application "System Events" to tell process "Terminal.app" to keystroke "t" using command down
          delay 1
          do script ("cd " &amp; myPath) in first window
        end if
      end tell
    end if
  end tell

end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61643684-A2BA-449B-AFC4-3751DEE34867</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:myCachePath}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>98CF41B7-8DA0-4B2E-A3CF-FA9B13666F2D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>{var:myDataPath}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>25B247AD-0B7D-4B25-A4F5-3367B37F7142</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>An Alfred workflow to quickly access and manage other workflows' info and folders. 

Derived from `alfred-extension`, an Alfred2 extension created by 
Jaemok Jeong

Main changes: Dropped `open in iTerm2`, `export`, and `disable` actions, added access to workflow info, folder, and cache, config, detection of hotkey conflicts. Workflows' info now stored in a `sqlite` database for faster access.

# Basic Usage 📖
`ww` or hotkey will launch `WeWorkflow`, type to search workflows (or use `advanced search` below. 

1. `return (⏎)` will open the workflow folder in Alfred's file browser
2. `shift-return (⇧⏎)` will show the Workflow's **config** screen in Alfred
3. `control-return (⌃⏎)` will show the Workflow's **info** in large font (including hotkey conflicts with active 🔴 and disabled 🟠 workflows)
4. `command-return (⌘⏎)` will open the Workflow's **folder** in Finder
5. `command-shift-return (⌘⇧⏎)` will open the Workflow's **folder** in Terminal
6. `option-return (⌥⏎)` will open the Workflow's **cache folder** (if existing) in Finder
7. `option-shift-return (⌥⇧⏎)` will open the Workflow's **cache folder** (if existing) in Terminal
8. `fn-return (fn⏎)` will **launch** the workflow with the first keyword
9. `control-option-shift-return (^⇧⌥⏎)` will open the Workflow's **data folder** (if existing) in Finder</string>
	<key>uidata</key>
	<dict>
		<key>2240CA4C-E605-4C31-88C1-70F81076342D</key>
		<dict>
			<key>note</key>
			<string>browse folder in alfred</string>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>25B247AD-0B7D-4B25-A4F5-3367B37F7142</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>reveal workflow data folder (if present) in Finder</string>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>945</real>
		</dict>
		<key>51E49C14-38A3-4D45-98A4-B71DB1D003A4</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>open workflow folder in Terminal</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>61643684-A2BA-449B-AFC4-3751DEE34867</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>open workflow cache folder (if present) in Terminal</string>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>941C7010-C5D0-4F7B-9EE2-F407E119E895</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>98CF41B7-8DA0-4B2E-A3CF-FA9B13666F2D</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>reveal workflow cache folder (if present) in Finder</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
		<key>A0357D6A-83E3-420F-AA87-0A29BD8C7CB0</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>note</key>
			<string>Open Workflow config</string>
			<key>xpos</key>
			<real>680</real>
			<key>ypos</key>
			<real>635</real>
		</dict>
		<key>A1A754C5-32B9-46FB-AE3A-B771119F1E8A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>reveal workflow folder in Finder</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>A5963A6B-E2C2-4988-8851-668E29DCB175</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>E3854BD0-40B4-4E62-9AA2-A4EEE852DA94</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>note</key>
			<string>Launch workflow with first keyword</string>
			<key>xpos</key>
			<real>685</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>FCC1CDE2-B70D-4560-8EE2-7410E9DCD989</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ww</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Main Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>mainkeyword</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.3</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/alfred-weworkflow</string>
</dict>
</plist>
